<div id="intro" class="bg-image shadow-2-strong">
    <div class="mask d-flex align-items-center h-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-md-8">
                    <form class="bg-white  rounded-5 shadow-5-strong p-5">

                        <div class="form-outline mb-4">
                            <p class="lead">Pleaser Try Again !!</p>
                        </div>

                        <div class="row mb-4">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                                <a href="/login" class="btn btn-primary btn-dark btn-lg px-4 me-md-2"> Okey </a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>